@import 'libs/bootstrap-reboot.min';

* {
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
}

.container {
	position: relative;
	max-width: 1140px;
	margin: 0 auto;
}

html {
	scroll-behavior: smooth;
}

//var, mixins, anim
@import 'var';
@import 'mixins';
@import 'animations';

@import 'general';

//blocks

@import 'media';
